.features__thumb {
    @include centered;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-page-color);
    border-radius: 4px;
}

.features__list {
    display: flex;
    flex-direction: column;
    row-gap:30px;
}

.features__item {
    width: 100%;
}

.features__label {
    @include font(700, 14px, 16px);
    text-transform: uppercase;
    text-align: center;
    color: var(--headers-and-names-color);
    
    margin-bottom: 10px;
}

.features__description {
    @include font(400, 14px, 24px);
    color: var(--text-color);
}

@media screen and (min-width:768px) {
    .features__comtainer {
       padding: 0;
    }

    .features__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    .features__item {
      width: 354px;
    }

    .features__label {
      text-align: left;
    }
}

@media screen and (min-width:1200px) {

    .features__comtainer {
        padding: 0 15px;
    }

    .features__list {
        column-gap: 30px;
    }

    .features__item {
        width: 270px;
    }
}