.features__thumb {
    @include centered;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-page-color);
    border-radius: 4px;
}

.features__list {
    display: flex;
    column-gap: 30px;
}

.features__item {
    width: 270px;
}

.features__label {
    margin-bottom: 10px;

    @include font(700, 14px, 16px);
    text-transform: uppercase;
    color: var(--headers-and-names-color);
}

.features__description {
    @include font(400, 14px, 24px);
    color: var(--text-color);
}