.logo {
    display: flex;

    font-family: var(--logo-font-text);
    @include font(700, 24px, 28px);
    color: var(--accent-color);
}

@media screen and (min-width:768px) {
    .page-header__logo {
        margin-right: 87px;
    }
}

@media screen and (min-width:1200px) {
    .logo {
        @include font(700, 26px, 31px);
    }
    
    .page-header__logo {
        margin-right: 93px;
    }
}

.page-header__logo_black-text {
    color: var(--accent-second-color);
}

.page-footer__logo {
    margin-bottom: 20px;
}

.page-footer__logo_white-text {
    color: var(--primary-page-color);
}